.App {
  margin: 0 1rem 0 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 2rem;
  grid-template-areas:
    "search"
    "mapWithLastSearch"
    "mapWithLocation"
    "listOfSearches";
}

#listOfSearches {
  grid-area: listOfSearches;
}

header {
  grid-area: header;
  background-color: #91c8ff;
}

#search {
  grid-area: search;
  min-height: 4rem;
}

@media only screen and (min-width: 768px) {
  .App {
    height: calc(100vh - 3rem);
    display: grid;
    margin: 1rem 1rem 0 1rem;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    grid-template-columns: auto 80%;
    grid-template-rows: 42% auto 42%;
    grid-template-areas:
      "listOfSearches mapWithLocation"
      "listOfSearches search"
      "listOfSearches mapWithLastSearch";
  }

  html {
    overflow: hidden;
  }
}
