.App {
  margin: 0;
  height: 100vh;
  display: grid;
  margin: 0 1rem 0 1rem;
  grid-row-gap: 10px;
  grid-column-gap: 1rem;
  grid-template-columns: auto 60% 20%;
  grid-template-rows: 40% auto 40%;
  grid-template-areas:
    "listOfSearches mapWithLocation  infoLocation"
    "listOfSearches search search"
    "listOfSearches mapWithLastSearch infoSearch";
}

.test {
  background-color: antiquewhite;
  grid-column-start: 1;
  grid-column-end: 3;
}

#listOfSearches {
  grid-area: listOfSearches;
}

header {
  grid-area: header;
  background-color: #91c8ff;
}

#mapWithLocation {
  grid-area: mapWithLocation;
  background-color: #b3d8fd;
}
#infoLocation {
  grid-area: infoLocation;
  background-color: #5e86af;
}
#mapWithLastSearch {
  grid-area: mapWithLastSearch;
  background-color: #6d9fd2;
}

#infoSearch {
  grid-area: infoSearch;
  background-color: #7ec8e3;
}

#search {
  grid-area: search;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .App {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 10);
    grid-template-areas:
      "listOfSearches"
      "mapWithLocation"
      "infoLocation"
      "mapWithLastSearch"
      "infoSearch"
      "search"
      "footer";
  }
}
