li {
  margin-top: 20px;
  list-style: none;
}

.gridItem {
  display: grid;
  grid-template-rows: 80px auto;
}

.mapWrapper {
  display: flex;
  gap: 2rem;
}

.mapItem {
  flex-grow: 4;
  display: grid;
  background-color: lightyellow;
  min-height: 300px;
  min-width: 300px;
}

.infoItem {
  flex-grow: 1;
}
